.project
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
local.properties
.settings/
.loadpath
build/
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.class
.target
.texlipse
.mtj.tmp/
*.war
*.ear
hs_err_pid*
*.psd
.idea
*.iml
lib
out
src/main/java/db/DBConfig.java
web/META-INF/context.xml
web/WEB-INF/app.properties
web/images/storage

