#user-following-dashboard{
    display: none;
}

.single-user-info {
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin: 25px 35px 25px 35px;
    width: 28%;
    height: 110px;
    background: rgb(240, 240, 240);
    border-color: #000;
}

.single-user-picture {
    width: 70px;
    height: 70px;
    margin: 20px 20px 20px 20px;
    float: left;
}

.single-user-name-email {
    width: 180px;
    height: 60px;
    margin: 20px 20px 20px 0px;
    float: left;

    /*border: solid;*/

}

.single-user-buttons {
    width: 60px;
    height: 60px;
    margin: 20px 20px 20px 0px;
    float: left;

    /*border: solid;*/
}

.btn{
    display: inline-block;
    line-height: 1.6em;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    /*margin-top: 50px;*/
}

.follow-unfollow-button {
    width: 70px !important;
}

.btn-tag{
    position: absolute;
    /* float: right; */
    border-radius: 6%;
    padding: 4px 5px;
    background: rgb(212, 212, 212);
    /* margin: 1.3em 0.1em; */
    right: 13px;
    top: 40px;
}

.search-wrapper {
    width: 251px;
    margin-left: auto;
    margin-right: auto;
}

.users-search {
    height: 30px;
    border-style: none;
    border-radius: 4px;
    border: 1px solid #cacaca;
}

.search-button {
    border-style: none;
    height: 34px;
    width: 75px;
    border-radius: 4px;
}