.about-header{
 	height: 55px;
    background-color: black;
    width: 100%;
    margin: -8px;
    margin-right: -23px;
    padding-right: 16px;
}

#follow-posts-header{
	height: 55px;
    background-color: rgb(240,240,240);
    width: 100%;
    margin: -8px;
    margin-right: -23px;
    padding-right: 16px;
	position: absolute;
	top: 62px;
	z-index: 200000;
}

.text-deco-none{
	color: #444;
	margin-right: 20px;
}

.text-deco-none:hover{
	opacity: 0.7;

}

.profile{
	max-width: 60%;
	margin-top: 70px;
}

.profile-picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.input-tbn{
	border-radius: 6%;
	
}

.upload-avatar{
	margin-top: 20px;
	text-align: center;
}

.profile-info{
	max-width: 33%;
	text-align: center;
}

.profile-about{
	margin-top: 20px;
	max-width: 70%;
	text-align: center;
}

.margin-top{
	margin-top: 10px;
}

.followers {
	padding-left: 25px;
}

#followers_menu ul li a:hover{
	cursor: pointer;
	color: #5CCA63; !important;
}


.followers :hover{
	cursor: pointer;
	opacity: 0.8;
}

.following {
	padding-left: 10px;
}

.following:hover {
	cursor: pointer;
	opacity: 0.8;
}

.uploads {
	padding-left: 25px;
}

.uploads:hover {
	cursor: pointer;
	opacity: 0.8;
}


.followers:hover {
	cursor: pointer;
	opacity: 0.8;
}

.follow-picture {
    width: 100%;
    height: 100%;
}

.user-followers-dashboard {
    margin-left: auto;
    width: 100%;
    white-space: normal;
    margin-right: auto;
}

.profile-icons {
    margin-top: 20px;
}

.single-user-name {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}