.post-page{
    margin-top: 60px;
    margin-left: 15%;
}


.post-photo{
    border: 20px solid white;
    margin-top: 30px;
}

.post-photo img{
    max-width: 400px;
    max-height: 300px;
    display: block;
}

.about-header{
    height: 77px;
    background-color: black;
    width: 100%;
    margin: -8px;
    margin-right: -23x;
    padding-right: 16px;
}

.post-author{
    margin-top: 7px;
    width: 70%;
}

.author-avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 3%;
    margin-right: 4%;
    margin-top: 3px;
}

.bg-avatar{
    background-image: url("../images/images/rsz_anano.jpg");
}

.author-name{
    padding-top: 2px;
}

.post-title{
    display: inline;
}



.right-content{
    top: 210px;
    position: absolute;
    margin-left: 50px;
    max-width: 30%
}

.plus-minus-num{
    margin-right: 16px;
    display: inline-block;
}

.post-description{
    margin-top: 20px;

}

.post-date{
    margin-top: 20px;

}

.post-pluses{
    margin-bottom: 20px;
}


/*
.post-tag{
	background-color: rgb(212, 212, 212);
	margin-right: 10px;
    border-radius: 15%;
    padding: 3px;
    text-align: center;
    margin-bottom: 5px;
}*/

.post-tags{
    margin-top: 20px;

}

.btn{
    display: inline-block;
    line-height: 1.4em;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.btn-tag{
    border-radius: 15%;
    padding: 4px 5px;
    background: rgb(212, 212, 212);
    margin: 0.3em 0.1em;
}