@font-face {
    font-family: 'BPGSuperSquare2013';
    src: url('../fonts/BPGSuperSquare2013.eot');
    src: url('../fonts/BPGSuperSquare2013.eot') format('embedded-opentype'),
         url('../fonts/BPGSuperSquare2013.woff') format('woff'),
         url('../fonts/BPGSuperSquare2013.ttf') format('truetype'),
         url('../fonts/BPGSuperSquare2013.svg#ALKSANETWEBFONT') format('svg');
}

@font-face {
    font-family: 'BPGSuperSquareCaps2013';
    src: url('../fonts/BPGSuperSquareCaps2013.eot');
    src: url('../fonts/BPGSuperSquareCaps2013.eot') format('embedded-opentype'),
         url('../fonts/BPGSuperSquareCaps2013.woff') format('woff'),
         url('../fonts/BPGSuperSquareCaps2013.ttf') format('truetype'),
         url('../fonts/BPGSuperSquareCaps2013.svg#ALKSANETWEBFONT') format('svg');
}


/*font-classes*/
/* fs- for font-size*/

.fs-40{
    font-size: 40px;
}

.fs-30{
    font-size: 30px;
}

.fs-25{
    font-size: 25px;
}

.fs-23{
  font-size: 23px;
}

.fs-18{
    font-size: 18px;
}

.fs-16{
    font-size: 16px;
}

.fs-15{
    font-size: 15px;
}

.fs-13{
    font-size: 13px;
}

.fs-12{
    font-size: 12px;
}

.fs-11 {
	font-size: 10px;
}

.fs-10{
    font-size: 10px;
}

.fs-8{
    font-size: 8px;
}

/* ff- for font-family*/
.ff-superSquare{
    font-family: 'BPGSuperSquare2013';
}

.ff-superSquareCap{
    font-family: 'BPGSuperSquareCaps2013';
}
/* fc- for font color*/

.fc-red{
    color:rgb(237, 36, 59);
}

.fc-white{
  color: rgb(255, 255, 255);
}

.fc-white-imp{
  color: rgb(255, 255, 255)!important;
}

.fc-black{
  color: rgb(0, 0, 0);
}

.fc-grey{
  color: rgb(212, 212, 212);
}

.fc-grey-dark{
	color: rgb(144, 144, 144);
}

.fc-grey-darker{
    color: rgb(100, 100, 100);
}



.body{
	margin: 0 !important;
    padding: 0 !important;
    background-image: url("rsz_only_logo.png");

    
	/*background: url("only_logo_transparent.png");*/
}


.inline-hor {
     display: inline-block;
     width: 50px;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.m-auto{
	margin-left:auto;
	margin-right:auto;
}

.abs{
	position: absolute;
}

.rel{
	position: relative;
}

.fixed{
	position: fixed;
}

.right{
    float: right;
}

.left{
    float: left;
}

.pointer{
    cursor: pointer;
}