
@media screen and (max-width: 1450px) {
    .post-dashboard{
        max-width: 1000px;
    }
}

@media screen and (max-width: 1200px) {
    .post-dashboard{
        max-width: 620px;
    }
}

@media screen and (max-width: 1000px) {
    .inline-block{
    	display: inline-block;
    	
    }

    .right-content{
    	top: 625px;
    	margin-left: 0px;
    	max-width: 44%;
    	margin-bottom: 100px;
    	margin-left: -440px;
    }
}